---
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import Detail from "@components/Detail.astro";
import About from "@components/About.astro";
import DataSheet from "@components/DataSheet.astro";
import Contact from "@components/Contact.astro";
import Maps from "@components/Maps.astro";
import CardRedDetail from "@components/CardRedDetail.astro";
import WhaButton from "@components/WhaButton.astro";
---

<Layout title="Baic Nuevo EU5 | Sedan Eléctrico">
  <Hero />
  <div class="space-y-0 w-full overflow-hidden">
    <DataSheet />
    <Detail />
    <About />
    <Maps />
    <CardRedDetail />
    <Contact />
  </div>
  <WhaButton />
</Layout>

<style>
  main {
    width: 100%;
    margin: 0;
    padding: 0;
  }
</style>
