<section class="p-10 w-full bg-gray-200 flex items-center justify-center">
  <div class="w-11/12 md:w-full flex max-w-screen-xl md:flex-row flex-col justify-evenly items-center">
    <div class="md:w-[40%]">
      <h2 class="md:text-5xl font-extrabold">SOBRE BAIC</h2>
      <p class=" md:text-xl mt-10">
        BAIC, fundada en 1958, tiene su sede en Beijing, China, y su oficina
        central, Beijing Automotive Group Co., Ltd., ocupa el puesto 162 en
        Fortune 500. <br />
        <br /> BAIC es uno de los grupos automovilísticos de propiedad gubernamental
        más grandes de China que abarca I+D y fabricación de vehículos, repuestos,
        comercio de servicios al automóvil, servicios integrales de viajes, finanzas
        e inversiones, etc.
      </p>
      <div class="w-full mt-6">
        <h2 class="text-4xl font-extrabold">SOBRE GRUPO AUTOMOTRIZ CARRERA</h2>
        <p class="text-xl mt-10">
          Somos importadores y distribuidores oficiales de automóviles FAW en
          Colombia desde 2014, logrando muchos éxitos en el camino y haciendo del
          reconocimiento y reputación de la marca FAW, un activo importante para el
          desarrollo de la marca en nuestro grupo.
          <br /><br />
          Adicionalmente, por más de 30 años hemos sido aliados estratégicos en la comercialización
          de vehículos Chevrolet, Hyundai, Citroen, Fiat y Kia.
        </p>
      </div>
    </div>

    <img src="./car-red.webp" class="object-cover md:w-6/12" alt="" />
  </div>
</section>
