<section class="p-10">
  <div class="flex justify-between">
    <div class="w-[40%]">
      <h2>Sobre BAIC</h2>
      <p>
        BAIC, fundada en 1958, tiene su sede en Beijing, China, y su oficina
        central, Beijing Automotive Group Co., Ltd., ocupa el puesto 162 en
        Fortune 500. <br />
        <br /> BAIC es uno de los grupos automovilísticos de propiedad gubernamental
        más grandes de China que abarca I+D y fabricación de vehículos, repuestos,
        comercio de servicios al automóvil, servicios integrales de viajes, finanzas
        e inversiones, etc.
      </p>
    </div>

    <img src="./car-red.webp" alt="" width="700" height="700" />
  </div>

  <div class="flex justify-end items-center">
    <h2>Sobre Grupo Automotriz Carrera</h2>
    <p class="w-[40%] ml-10 my-6">
      Somos importadores y distribuidores oficiales de automóviles FAW en
      Colombia desde 2014, logrando muchos éxitos en el camino y haciendo del
      reconocimiento y reputación de la marca FAW, un activo importante para el
      desarrollo de la marca en nuestro grupo.
      <br /><br />
      Adicionalmente, por más de 30 años hemos sido aliados estratégicos en la comercialización
      de vehículos Chevrolet, Hyundai, Citroen, Fiat y Kia.
    </p>
  </div>
</section>
