<section id="contact" class="flex flex-col items-center my-10">
  <h2 class="text-5xl font-bold py-6">CONTACTO</h2>
  <div
    class="w-11/12 flex lg:flex-row flex-col justify-between items-center mb-20"
  >
    <div class="lg:w-1/3 flex flex-col items-center">
      <p class="text-xl lg:text-3xl text-center">
       Por favor, complete la siguiente información.
      </p>
    </div>
    <div class="lg:w-2/3">
      <form class="lg:grid grid-cols-2" action="">
        <input
          class="p-6 bg-gray-100 w-11/12 m-6 rounded-lg outline-none"
          type="text"
          placeholder="Escriba su nombre completo"
        />
        <input
          class="p-6 bg-gray-100 w-11/12 m-6 rounded-lg outline-none"
          placeholder="Escriba su correo electrónico"
          type="text"
        />
        <select
        
          class="p-6 bg-gray-100 w-11/12 m-6 rounded-lg outline-none"
          name="gender"
          id=""
        >
          <option disabled value="">Seleccione su género</option>
          <option value="Mr">Hombre</option>
          <option value="Ms">Mujer</option>
          <option value="Ds">Sin respuesta</option>
        </select>
        <input
          class="p-6 bg-gray-100 w-11/12 m-6 rounded-lg outline-none"
          placeholder="Escriba su teléfono"
          type="tel"
        />
        <div class="w-full flex items-center">
          <label class="pl-6 py-6 pr-2" for="check"
            >Quiero hacer un Test Drive</label
          >
          <input class="w-4 h-4" id="check" type="checkbox" />
        </div>
      </form>
    </div>
  </div>
</section>
