<section class="p-6">
  <div class="p-6 flex justify-evenly items-center">
    <div>
      <h3>COMODIDAD</h3>
      <span>AUTOMOVIL MÁS AMPLIO DE SU CATEGORIA</span>
      <img src="./1.webp" alt="image1" width="400" height="300" />

      <ul>
        <li>Distancia entre ejes extra larga de 2670 MM</li>
        <li>Asiento del conductor con ajuste manual de 6 posiciones</li>
        <li>Asiento trasero con reclinación integral</li>
        <li>Baúl de un volumen de 430 L</li>
      </ul>
    </div>

    <div>
      <h3>COMODIDAD</h3>
      <span>AUTOMOVIL MÁS AMPLIO DE SU CATEGORIA</span>
      <img src="./2.webp" alt="image1" width="400" height="300" />

      <ul>
        <li>Distancia entre ejes extra larga de 2670 MM</li>
        <li>Asiento del conductor con ajuste manual de 6 posiciones</li>
        <li>Asiento trasero con reclinación integral</li>
        <li>Baúl de un volumen de 430 L</li>
      </ul>
    </div>

    <div>
      <h3>COMODIDAD</h3>
      <span>AUTOMOVIL MÁS AMPLIO DE SU CATEGORIA</span>
      <img src="./3.webp" alt="image1" width="400" height="300" />

      <ul>
        <li>Distancia entre ejes extra larga de 2670 MM</li>
        <li>Asiento del conductor con ajuste manual de 6 posiciones</li>
        <li>Asiento trasero con reclinación integral</li>
        <li>Baúl de un volumen de 430 L</li>
      </ul>
    </div>
  </div>

  <div class="p-6 px-36 flex justify-between items-center">
    <div class="ml-6">
      <h3>FICHA TECNICA</h3>
      <a href="">DESCARGALA AQUÍ</a>
    </div>

    <div>
      <div class="flex gap-2">
        <div class="w-20 h-20 bg-white border border-black rounded-full"></div>
        <div class="w-20 h-20 bg-red-600 rounded-full"></div>
        <div class="w-20 h-20 bg-black rounded-full"></div>
      </div>
      <p>COLORES DISPONIBLES</p>
    </div>
  </div>
</section>
