<section class="flex items-center justify-center p-10">
  <div class="max-w-screen-xl flex flex-col md:flex-row justify-between  items-center">
    <div class="flex flex-col items-center md:w-5/12">
      <h3 class="text-2xl font-bold">EU5</h3>
      <img src="./red-car.webp" alt="card-red" class="w-full h-full object-cover" />
      <span class="text-xl md:text-start text-center py-5 font-light">Fuerte rendimiento energético, inteligencia hacia el futuro </span>
    </div>
  
    <div class="flex flex-col items-center md:text-start text-center md:w-5/12">
      <div class="border-b-2 py-10">
        <h3 class="text-2xl font-bold">GRAN AUTONOMIA</h3>
        <p class="text-xl md:w-9/12">
          Autonomia de 401 km <br> Con capacidad para generar energía con su sistema de frenado regenerativo
        </p>
      </div>
  
      <div class="border-b-2 py-10">
        <h3 class="text-2xl font-bold">BATERÍA DE ALTO RENDIMIENTO</h3>
        <p class="text-xl md:w-9/12">
          Bateria CATL 151 Wh/kg de nueva generación . carga a 49.6 KWh Cuenta con
          más de 30 certificaciones internacionales para bridar la máxima
          seguridad Bateria de litio ternario
        </p>
      </div>
  
      <div class="border-b-2 py-10">
        <h3 class="text-2xl font-bold">
          TECNOLOGÍA INTEGRADA DE MANEJO ELÉCTRICO
        </h3>
        <p class="text-xl md:w-9/12">
          0~100 km/h con una aceleración de 7,8 s toruqe máximo de 240 N.m y la
          potencia máxima de 120 kw. Sistema inteligente de manejo de bateria
          PEU2.0 sistema que mejora el performance y la estabilidad
        </p>
      </div>
    </div>
  </div>
</section>
