<section class="flex items-center gap-10 justify-center p-10">
  <div>
    <h3>EU5</h3>
    <img src="./card-red-detail.webp" alt="card-red" width="600" height="600" />
    <span>Fuerte rendimiento energético, inteligencia hacia el futuro </span>
  </div>

  <div>
    <div class="border-b-2">
      <h3>GRAN AUTONOMIA</h3>
      <p>
        Autonomia de 401 km <br />
        Con capacidad para generar energía con su sistema de frenado regenerativo
      </p>
    </div>

    <div class="border-b-2">
      <h3>GRAN AUTONOMIA</h3>
      <p>
        Autonomia de 401 km <br />
        Con capacidad para generar energía con su sistema de frenado regenerativo
      </p>
    </div>

    <div>
      <h3>GRAN AUTONOMIA</h3>
      <p>
        Autonomia de 401 km <br />
        Con capacidad para generar energía con su sistema de frenado regenerativo
      </p>
    </div>
  </div>
</section>
