<footer class="bg-black text-white p-10 pl-14 w-full">
  <div class="w-11/12 flex md:flex-row flex-col justify-between">
    <div>
      <p class="py-6 flex flex-col text-lg">
        CONTACT <span>contacto@baic.com.co</span>
      </p>
      <p class="py-6 flex flex-col text-lg">
        VENTAS <span>ventas@baic.com.co</span>
      </p>
      <p class="py-6 flex flex-col text-lg">
        POSTVENTA <span>posventa@baic.com.co</span>
      </p>
    </div>
    <div class="py-6">
      <p class="text-lg">CENTRO COMERCIAL CARRERA <br> Av calle 9 # 50-15 Bogotá Colombia</p>
    </div>
    <div class="py-6">
      <p class="text-lg">politica de privacidad de datos</p>
      <p class="text-lg">Término y condiciones</p>
    </div>
  </div>
  <div class="w-1/2 h-full flex items-center">
    <img src="./Green-logo.png" width="300" class="mt-6" alt="" /><img src="https://baic.ec/wp-content/uploads/2024/09/logo-baic.png" alt="" />
  </div>
</footer>
