---
import "animate.css";
---

<style>
  .menu-header {
    background: transparent;
    transition: all 0.5s;
    color: white;
  }
  .scrolled {
    background: white;
    transition: all 0.5s;
    color: black;
  }
  .button:hover {
    cursor: pointer;
    border-bottom: 2px solid red;
  }
</style>
<div
  id="modal"
  class="fixed hidden z-20 lg:hidden w-full h-full top-0 left-0"
  style="background: rgba(0, 0, 0, .5)"
>
</div>
<header
  id="header"
  class="w-full z-50 fixed flex menu-header justify-between items-center"
> 
  <a href="/"><img src={"./logo.webp"} alt="Logo" class="h-10 z-10 mx-4 mt-2" /></a>
  <nav
    id="menu"
    style="z-index: 100;"
    class="h-[100vh] lg:relative lg:my-6 lg:h-auto animate__animated hidden flex-col lg:flex-row lg:justify-between fixed w-2/3 lg:w-8/12 lg:bg-transparent right-0 top-0 py-20 lg:py-0  bg-white"
  >
    <a id="menu-close" class="absolute lg:hidden top-4 right-4"
      ><img class="w-6" src="./x.png" alt="" /></a
    >
    <a
      href="#about"
      id="menu-btn-one"
      class="text-start px-4 text-sm py-6 lg:py-0 md:text-xl button">SOBRE NOSOTROS</a
    >
    <a
      href="#data"
      id="menu-btn-two"
      class="text-start px-4 text-sm py-6 lg:py-0 md:text-xl button">EU5</a
    >
    <a
      href=""
      id="menu-btn-three"
      class="text-start px-4 text-sm py-6 lg:py-0 md:text-xl button">PRUEBA DE MANEJO</a
    >
    <a
      href="#contact"
      id="menu-btn-four"
      class="text-start px-4 text-sm py-6 lg:py-0 md:text-xl button">CONTACTO</a
    >
  </nav>
  <div class="lg:hidden">
    <button id="menu-open" class="py-2 px-4"
      ><img src="./menu.png" alt="" /></button
    >
  </div>
</header>
<script>
  const open = () => {
    menu?.classList.add("animate__fadeInRight", "flex", "text-black");
    menu?.classList.remove("animate__fadeOutRight", "hidden");
    modal?.classList.remove("hidden");
    body?.classList.add("overflow-hidden", "lg:overflow-auto");
    body?.classList.remove("overflow-auto");
  };
  const close = () => {
    menu?.classList.add("animate__fadeOutRight");
    menu?.classList.remove("animate__fadeInRight");
    modal?.classList.add("hidden");
    body?.classList.add("overflow-auto");
    body?.classList.remove("overflow-hidden");
  };
  const header = document.getElementById("header");
  const menu = document.getElementById("menu");
  const modal = document.getElementById("modal");
  const body = document.getElementById("body");
  const width = window.innerWidth > 1024;
  
  if (width) {
    menu?.classList.add("animate__fadeInRight", "flex");
    menu?.classList.remove("hidden");
  } else {
    close();
  }
  window.addEventListener("scroll", () => {
    if (window.scrollY > 400) {
      header?.classList.remove("menu-header");
      header?.classList.add("scrolled");
    } else {
      header?.classList.remove("scrolled");
      header?.classList.add("menu-header");
    }
  });
  document.getElementById("menu-close")?.addEventListener("click", () => {
    if (!width) {
      close();
    }
  });
  document.getElementById("menu-open")?.addEventListener("click", () => {
    open();
  });
  document.getElementById("menu-btn-one")?.addEventListener("click", () => {
    if (!width) {
      close();
    }
  });
  document.getElementById("menu-btn-two")?.addEventListener("click", () => {
    if (!width) {
      close();
    }
  });
  document.getElementById("menu-btn-three")?.addEventListener("click", () => {
    if (!width) {
      close();
    }
  });
  document.getElementById("menu-btn-four")?.addEventListener("click", () => {
    if (!width) {
      close();
    }
  });
</script>
