---
const logoSrc = '/path/to/logo.png'; // Ruta de tu logo
---

<style>
  header {
    transition: background-color 0.3s, position 0.3s;
    z-index: 1000;
  }

  .button:hover{
    border-bottom: 2px solid red;
    transition: border-bottom 0.1s;
  }
</style>

<header id="header" class="w-full p-4 bg-white fixed flex justify-between items-center transition-colors">
  <img src={"./logo.png"} alt="Logo" class="h-10" />
  <nav class="hidden md:flex space-x-4">
    <button class=" py-2 px-4 button">SOBRE NOSOTROS</button>
    <button class=" py-2 px-4 button">EU5</button>
    <button class=" py-2 px-4 button">PRUEBA DE MANEJO</button>
    <button class=" py-2 px-4 button">CONTACTO</button>
  </nav>
  <div class="md:hidden">
    <button id="menu-toggle" class="border border-black py-2 px-4 hover:bg-gray-200">Menú</button>
  </div>
</header>

