<div
  class="relative h-[50vh] w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full"
>
  <div
    class="absolute inset-0 h-full z-10 m-auto flex flex-col w-full"
  >
    <section class="absolute md:left-16 z-10 animate-fade-up flex gap-8 flex-col items-center lg:items-start  mt-[25%] lg:mt-[10%]">
      <h1
        class="flex font-bold items-start text-center lg:text-start gap-5 text-2xl md:text-6xl lg:gap-20 lg:text-8xl font-tomaso text-white"
      >
        NUEVO <br /> EU5
      </h1>

      <p
        class="subtitle font-bold text-lg md:text-3xl lg:text-2xl w-11/12 md:w-7/12 lg:text-start text-center text-wrap font-jura text-white"
      >
      SEDÁN ELÉCTRICO QUE LLEGÓ A COLOMBIA PARA QUEDARSE
      </p>

      <a href="/eu5" class="btn bg-white md:w-7/12 text-center rounded-lg p-3 md:p-6 md:text-2xl font-bold"> QUIERO MÁS INFORMACIÓN </a>
    </section>

    <video
      autoplay
      loop
      muted
      playsinline
      id="main-video"
      preload="auto"
      class="video cp-v h-full absolute w-[100vw] object-cover object-top animate-duration-[2s] animate-ease-in-out"
    >
      <source src="/video.webm" type="video/webm" />
      <source src="/video.mp4" type="video/mp4" />
    </video>
  </div>
  <video
    class="video hidden absolute -bottom-48 -z-40 blur-3xl animate-duration-[2s] animate-ease-in-out"
    autoplay
    loop
    muted
    preload="auto"
  >
    <source src="/video.webm" type="video/webm" />
    <source src="/video.mp4" type="video/mp4" />
  </video>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const firstVideo = document.querySelector(
      "#main-video"
    ) as HTMLMediaElement;

    if (firstVideo) {
      const videos = document.querySelectorAll(
        ".video"
      ) as NodeListOf<HTMLMediaElement>;

      if (firstVideo.readyState >= 3) {
        videos.forEach((videoEl) => {
          videoEl.classList.remove("hidden");
          videoEl.classList.add("animate-fade");
        });

        return;
      }

      firstVideo.addEventListener("loadeddata", () => {
        videos.forEach((videoEl) => {
          videoEl.classList.remove("hidden");
          videoEl.classList.add("animate-fade");
        });
      });
    }
  });
</script>

<style>
  @font-face {
    font-family: "Jura";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/jura.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .subtitle {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
</style>
