---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Sedán elecrico que llegó a colombia para quedarse"
    />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body id="body" style="overflow-x: hidden;">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<!-- <style is:global>

</style> -->
